.bg {
  height: 100vh;
}
.unordered-list-post {
  list-style-type: none;
  background-color: #ffffff;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0px;
  border: solid 1px #dbdbdb;
}

.bg-posts {
  background-color: #fafafa;
}
.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
}
.retry-button {
  color: #ffffff;
  background-color: #4094ef;
  border-style: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
}
