.unordered-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
.nav-list {
  margin-right: 15px;
}
.logo-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* .header-heading {
  font-size: 100%;
} */
