.slider-container {
  background-color: #fafafa;
  padding: 30px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 0px;
}
.unordered-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  height: 70px;
  width: 70px;
  border-radius: 80px;
}
.text-center {
  text-align: center;
}
/* .slick-prev {
  left: -25px;
  color: #e5e5e5 !important;
} */
.slick-prev:before,
.slick-next:before {
  color: #e5e5e5;
}
