.bg-user {
  background-color: #fafafa;
}
.bg-inner-user {
  margin-left: 200px;
  margin-right: 200px;
  padding: 0px;
}
.failure-view-user {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #fafafa;
}
.retry-button {
  color: #ffffff;
  background-color: #4094ef;
  border-style: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  margin-bottom: 7%;
}
.profile-details-section-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.username-user {
  font-weight: 400;
}
.count-list-user {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.count-item-user {
  margin-right: 10px;
}
.profile-details-user {
  padding-left: 55px;
}
.profile-story-list-user {
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.story-image-user {
  border-radius: 50%;
}
.story-list-item-user {
  margin: 15px;
}
.posts-section-header-user {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.post-icon-user {
  margin-right: 20px;
}
.post-images-list-user {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  padding-bottom: 50px;
}
.post-image-item-user {
  margin: 7px;
}
.user-pic-user {
  border-radius: 50%;
}
.no-post-user {
  font-weight: 400;
}
.no-post-section-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 100px;
}
